body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

.top-panel {
  padding: 15px;
  background: #111827;
  text-align: center;
}

.controls input {
  padding: 8px;
  width: 80px;
  text-align: center;
  margin-left: 10px;
}

.stats {
  margin: 10px 0;
}

#resetBtn {
  padding: 8px 16px;
  border: none;
  background: crimson;
  color: white;
  border-radius: 5px;
}

/* FULL SCREEN TAP AREA */
#tapArea {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #22c55e;
  color: black;
  cursor: pointer;
  user-select: none;
}

#tapArea:active {
  background: #16a34a;
}